<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>_id</th>
      <th>body_length</th>
      <th>channels</th>
      <th>country</th>
      <th>currency</th>
      <th>delivery_method</th>
      <th>description</th>
      <th>email_domain</th>
      <th>event_created</th>
      <th>event_end</th>
      <th>event_published</th>
      <th>event_start</th>
      <th>fb_published</th>
      <th>has_analytics</th>
      <th>has_header</th>
      <th>has_logo</th>
      <th>listed</th>
      <th>name</th>
      <th>name_length</th>
      <th>object_id</th>
      <th>org_desc</th>
      <th>org_facebook</th>
      <th>org_name</th>
      <th>org_twitter</th>
      <th>payee_name</th>
      <th>payout_type</th>
      <th>predictions</th>
      <th>previous_payouts</th>
      <th>sale_duration</th>
      <th>sequence_number</th>
      <th>show_map</th>
      <th>ticket_types</th>
      <th>user_age</th>
      <th>user_created</th>
      <th>user_type</th>
      <th>venue_address</th>
      <th>venue_country</th>
      <th>venue_latitude</th>
      <th>venue_longitude</th>
      <th>venue_name</th>
      <th>venue_state</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>5dbccb75501cfdc1101073d8</td>
      <td>20074</td>
      <td>8</td>
      <td>DE</td>
      <td>EUR</td>
      <td>1.0</td>
      <td>&lt;p&gt;&lt;span style="color: #808080;"&gt;&lt;span style="...</td>
      <td>off-time.eu</td>
      <td>1369301757</td>
      <td>1379379600</td>
      <td>1.369346e+09</td>
      <td>1379349000</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>1</td>
      <td>y</td>
      <td>Business Model You® Master Class led by Dr. Ti...</td>
      <td>75</td>
      <td>6793637</td>
      <td>&lt;p style="margin-bottom: 0.0001pt;"&gt;&lt;span styl...</td>
      <td>40.0</td>
      <td>Hosted by off-time.eu and Business Model You, LLC</td>
      <td>11.0</td>
      <td></td>
      <td>ACH</td>
      <td>True</td>
      <td>[{'name': '', 'created': '2013-04-27 03:23:41'...</td>
      <td>116.0</td>
      <td>3074</td>
      <td>1</td>
      <td>[{'event_id': 6793637, 'cost': 650.0, 'availab...</td>
      <td>136</td>
      <td>1357556339</td>
      <td>4</td>
      <td>Wredestraße</td>
      <td>DE</td>
      <td>48.143932</td>
      <td>11.548750</td>
      <td>ExperTeach Training Center München Zentrum</td>
      <td>BY</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5dbccf92501cfdc1101073da</td>
      <td>25304</td>
      <td>6</td>
      <td>CA</td>
      <td>CAD</td>
      <td>0.0</td>
      <td>&lt;h2&gt;&lt;span&gt;Korean Film Festival 한국 영화제 2013&lt;/sp...</td>
      <td>hotmail.com</td>
      <td>1370469329</td>
      <td>1373518800</td>
      <td>1.370633e+09</td>
      <td>1373151600</td>
      <td>0</td>
      <td>0</td>
      <td>1.0</td>
      <td>1</td>
      <td>y</td>
      <td>Korean Film Festival</td>
      <td>21</td>
      <td>6963561</td>
      <td></td>
      <td>0.0</td>
      <td>Korean Film Festival</td>
      <td>10.0</td>
      <td></td>
      <td>ACH</td>
      <td>True</td>
      <td>[]</td>
      <td>29.0</td>
      <td>3080</td>
      <td>0</td>
      <td>[{'event_id': 6963561, 'cost': 50.0, 'availabi...</td>
      <td>8</td>
      <td>1369756167</td>
      <td>1</td>
      <td></td>
      <td>CA</td>
      <td>45.508670</td>
      <td>-73.553993</td>
      <td>Cineplex Odeon Forum /Montreal Botanical Garden</td>
      <td>Quebec</td>
    </tr>
    <tr>
      <th>2</th>
      <td>5dbcd120501cfdc1101073dc</td>
      <td>3769</td>
      <td>8</td>
      <td>GB</td>
      <td>GBP</td>
      <td>1.0</td>
      <td>&lt;p&gt;&lt;span style="font-family: helvetica; font-s...</td>
      <td>dwelle.co.uk</td>
      <td>1370857364</td>
      <td>1371931200</td>
      <td>1.370858e+09</td>
      <td>1371920400</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>1</td>
      <td>y</td>
      <td>Love Architecture Festival - Carbon Literacy: ...</td>
      <td>85</td>
      <td>7011305</td>
      <td>&lt;p style="margin: 0px 0px 14.2px; font-size: 1...</td>
      <td>0.0</td>
      <td>dwelle.</td>
      <td>0.0</td>
      <td></td>
      <td>ACH</td>
      <td>True</td>
      <td>[{'name': '', 'created': '2013-06-02 03:20:55'...</td>
      <td>12.0</td>
      <td>3082</td>
      <td>0</td>
      <td>[{'event_id': 7011305, 'cost': 13.45, 'availab...</td>
      <td>993</td>
      <td>1285072107</td>
      <td>4</td>
      <td>265 Wilmslow Road</td>
      <td>GB</td>
      <td>53.441858</td>
      <td>-2.218634</td>
      <td>dwelle.</td>
      <td></td>
    </tr>
  </tbody>
</table>