<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>predictions</th>
      <th>body_length</th>
      <th>channels</th>
      <th>country</th>
      <th>currency</th>
      <th>delivery_method</th>
      <th>description</th>
      <th>email_domain</th>
      <th>event_created</th>
      <th>event_end</th>
      <th>event_published</th>
      <th>event_start</th>
      <th>fb_published</th>
      <th>has_analytics</th>
      <th>has_header</th>
      <th>has_logo</th>
      <th>listed</th>
      <th>name</th>
      <th>name_length</th>
      <th>object_id</th>
      <th>org_desc</th>
      <th>org_facebook</th>
      <th>org_name</th>
      <th>org_twitter</th>
      <th>payee_name</th>
      <th>payout_type</th>
      <th>previous_payouts</th>
      <th>sale_duration</th>
      <th>sequence_number</th>
      <th>show_map</th>
      <th>ticket_types</th>
      <th>user_age</th>
      <th>user_created</th>
      <th>user_type</th>
      <th>venue_address</th>
      <th>venue_country</th>
      <th>venue_latitude</th>
      <th>venue_longitude</th>
      <th>venue_name</th>
      <th>venue_state</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>True</td>
      <td>3769</td>
      <td>8</td>
      <td>GB</td>
      <td>GBP</td>
      <td>1.0</td>
      <td>&lt;p&gt;&lt;span style="font-family: helvetica; font-s...</td>
      <td>dwelle.co.uk</td>
      <td>1370857364</td>
      <td>1371931200</td>
      <td>1.370858e+09</td>
      <td>1371920400</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>1</td>
      <td>y</td>
      <td>Love Architecture Festival - Carbon Literacy: ...</td>
      <td>85</td>
      <td>7011305</td>
      <td>&lt;p style="margin: 0px 0px 14.2px; font-size: 1...</td>
      <td>0.0</td>
      <td>dwelle.</td>
      <td>0.0</td>
      <td></td>
      <td>ACH</td>
      <td>[{'name': '', 'created': '2013-06-02 03:20:55'...</td>
      <td>12.0</td>
      <td>3082</td>
      <td>0</td>
      <td>[{'event_id': 7011305, 'cost': 13.45, 'availab...</td>
      <td>993</td>
      <td>1285072107</td>
      <td>4</td>
      <td>265 Wilmslow Road</td>
      <td>GB</td>
      <td>53.441858</td>
      <td>-2.218634</td>
      <td>dwelle.</td>
      <td></td>
    </tr>
  </tbody>
</table>